.foot{
    background-color: #67958B;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
  }
  .icon{
    color: black;
    padding: 5px 4px;
    margin: 0px 6px;
   
  }
  .icon:hover{
 color: aliceblue;
  }
  .text{
    font-weight: bolder;
    margin: 1px 1px;
  }
  .text:hover{
    color:rgb(236, 230, 230) ;
  }