{%extends 'sports/index.html'%}
{%load static%}
{%block title%}About Page{%endblock%}
{%block css%}
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
{%endblock%}
{%block content%}
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">

					<h3>Games are activities in which participants take part for enjoyment, learning or competition.</h3>
					<p>Games have been part of every culture since ancient times. 
						They help facilitate learning and boost the development of children. 
						As an educational tool, games teach children how to master certain skills, 
						overcome obstacles and reach goals. Adults also benefit when they play games,
					    as doing so relieves them from work and obligations.Games also help maintain social 
						connections with other people. Although typically considered as leisure activities, 
						some games are undertaken by people as professional occupations..</p>
					
					

				</div>
				

			</div>
			<div class="image-section">
				<h1><img src="{%static 'images/2.jpg' %}"></h1>
				<h2><img src="{%static 'images/1.jpg' %}"></h2>
				<h3><img src="{%static 'images/3.jpg' %}"></h3>
			</div>
		</div>
	</div>

{% endblock %}