<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Games</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .inner{
      overflow: hidden;
    }
    .inner{
      transition: all 1.3s ease;
    }
    .inner:hover{
      transform: scale(1.1);
    }
  </style>
  <!-- ----------------Body------------ -->
  <body>
      <h1 class="text-center fw-bolder p-3">15 Different Kinds Of Game</h1>
      
        <!-------------- Card ------------ -->
        <div class="p-5">
          <div class="d-grid gap-5 text-center">
            <div class="row gap-5">
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/badminton.png" class="w-75 h-75" alt="...">
                        <p class="">Badminton</p>
                </div>
                    
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/chess.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Chess</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/cricket.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Cricket</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/football.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Football</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/64.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">HighJump</h5>
                </div>
                    </a>
                  </div>
                
            
              
            </div>
            <div class="row gap-5">
              
              <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/hockey.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Hockey</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/000.jpg" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Kabaddi</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/33.jpg" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Long Jump</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/13.jpeg" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Race</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/00.jpeg" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Snooker</h5>
                </div>
                    </a>
                  </div>
            </div>
            <div class="row gap-5">
              
              <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/sprint.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Sprint</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/swim.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Swim</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/table-tennis.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Table Tennis</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="images/volleyball.png" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Volleyball</h5>
                </div>
                    </a>
                  </div>
                  <div
                class="card col border-success rounded-4 pt-3 align-items-center shadow"
                style="width: 18rem"
              >
              <a class="text-decoration-none text-dark" href="">
                <div class="inner">
                  <img src="game Desciption/55.jpeg" class="card-img-top w-75 h-75" alt="...">
                <h5 class="card-title fs-5 p-2">Weight lifting</h5>
                </div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
        
  </body>
</html>
