<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="badminton.jpg" alt="">
            <p>Badminton</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. The most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). The team or the player score most will consider as the winner.
                <br>   <br> <b>Member:</b> Team/Single<br>
                <b>Win:</b> Score</p>
        </div>
        
    </div>
</body>
</html>