
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    .chess{
        height: 55px;
        width: 155px;
    }
</style>
<body>
    <div class="container">
        <div class="left">
            <img class="chess" src="chess.jpg" alt="">
            <p>Chess</p>
        </div>
        <div class="right">
            <p> <b>Description:</b>  Chess is a game played between two opponents on opposite sides of a board containing 64 squares of alternating colors. Each player has 16 pieces: 1 king, 1 queen, 2 rooks, 2 bishops, 2 knights, and 8 pawns. The goal of the game is to checkmate the other king. The player checkmates the opponent is the winner.
                <br><br> <b>Member:</b> Single<br>
                <b>Win:</b> Check-mate</p>
            </p>
        </div>
        
    </div>
</body>
</html>
