
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="cricket.jpg" alt="">
            <p>Cricket</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Cricket is a bat-and-ball game played between two teams of players on a field at the center of a pitch with a wicket at each end, each comprising two bails balanced on three stumps. The team score high will consider as the winner.
                <br>   <br> <b>Member:</b> Team<br>
                <b>Win:</b> Over and Score</p>
        </div>
        
    </div>
</body>
</html>
