
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://thumbs.dreamstime.com/b/football-soccer-ball-4796264.jpg" alt="">
            <p>Football</p>
        </div>
        <div class="right">
            <p>  <b> Description:</b> Football, also called association football or soccer, is a game involving two teams of players who try to maneuver the ball into the other team's goal without using their hands or arms. The team that scores more goals wins
             <br>   <br> <b>Member:</b> Team<br>
               <b>Win:</b> Time and Score
            </p>
        </div>
        
    </div>
</body>
</html>

