<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="64.png" alt="">
            <p>High Jump</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> The high jump is a track and field event in which competitors must jump unaided over a horizontal bar placed at measured heights without dislodging it. In its modern, most-practiced format, a bar is placed between two standards with a crash mat for landing. The player must jump high and score the highest point to win.
                <br><br> <b>Member:</b>Single <br>
                <b>Win:</b> Point</p>
            </p>
        </div>
        
    </div>
</body>
</html>