<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="hockey.png" alt="">
            <p>Hockey</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Hockey is a game where teams come together on a field and use hockey sticks to drive a ball into a net in order to score points. The winner is determined by whoever has the most points at the end of the game.
                <br><br> <b>Member:</b>Team <br>
                <b>Win:</b> Time And Score </p>
            </p>
        </div>
        
    </div>
</body>
</html>