<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="000.jpg" alt="">
            <p>Kabaddi</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Kabaddi is basically a combative sport, with seven players on each side; played for a period of 40 minutes with a 5 minutes break (20-5-20). The core idea of the game is to score points by raiding into the opponent's court and touching as many defense players as possible without getting caught on a single breath. The team score the high score in time will be announced as the winner
                <br>   <br> <b>Member:</b> Team<br>
                <b>Win:</b>Time and Score</p>
        </div>
        
    </div>
</body>
</html>