<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mailing System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <form class="m-5 p-5 border border-2">

        <div>
        <div class="row mb-4">
          <label for="inputEmail3" class="col-sm-2 col-form-label">From</label>
          <div class="col-sm-10">
            <input type="email" class="form-control bg-secondary bg-opacity-10" id="inputEmail3" placeholder="name@example.com">
          </div>
        </div>
    </div>

    <div>
        <div class="row mb-4">
          <label for="inputEmail3" class="col-sm-2 col-form-label">To</label>
          <div class="col-sm-10">
            <input type="email" class="form-control bg-secondary bg-opacity-10" id="inputEmail3" placeholder="name@example.com">
          </div>
        </div>
    </div>

    <div>
        <div class="row mb-4">
          <label for="subject" class="col-sm-2 col-form-label">Subject</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bg-secondary bg-opacity-10" id="subject">
          </div>
        </div>
    </div>

    <div>
    <div class="row mb-4">
            <label for="Attachment" class="col-sm-2 col-form-label">Attachment</label>
     <div class="col-sm-10">
        <input type="file" class="form-control " id="inputGroupFile02">
    </div>
    </div>

    <div class="row">
        <div class="col-10">
            <label for="Textarea" class="form-label"></label>
            <textarea class="form-control bg-secondary bg-opacity-10" id="Textarea" rows="5" placeholder=" Compose email"></textarea>
        </div>

        <div class="col-2 p-4 d-grid gap-3">
            <button type="submit" class="btn btn-outline-secondary mt-3 text-dark"><i class="fa-regular fa-paper-plane px-2"></i>Send</button>
            <button class="btn btn-outline-secondary text-dark"> <i class="fa-solid fa-xmark px-2"></i>Cancel</button>
        </div>
    </div>
</div>
</form>




    <script src="https://kit.fontawesome.com/b3dbfcb78e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>