<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="13.jpeg" alt="">
            <p>Race</p>
        </div>
        <div class="right">
            <p> <b>Description: </b> It is a competition of speed, against an objective criterion, usually a clock or to a specific point. The competitors in a race try to complete a given task in the shortest amount of time. The player Reach the destination
                first will consider as the champion.
                <br><br> <b>Member:</b> Team/Single<br>
                <b>Win:</b> Time</p>
        </div>

    </div>
</body>

</html>