<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football</title>
    <link rel="stylesheet" href="css/Scoreboard_3_table.css">
</head>
<body>
    <div class="div1">
        <h3>Football:</h3>
    </div>

  <div class="div2">
  <table id="mainTable1" style="float:left; width:25%">
    <tr>
        <th colspan="4" >Priliminary</th>

    </tr>   
    <tr>
        <th>S.I No.</th>
        <th>Team Name</th>
        <th>Score</th>
        <th>Team Name</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>3</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>4</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>5</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>6</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>
    </tr>   
</table>


  <table id="mainTable2" style="float:left; width:25%">
    <tr>
        <th colspan="4" >Semi-Final</th>

    </tr>   
    <tr>
        <th>S.I No.</th>
        <th>Team Name</th>
        <th>Score</th>
        <th>Team Name</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>3</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>4</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>5</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>6</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>
    </tr>   
</table>

  <table id="mainTable3" style="float:left; width:25%">
    <tr>
        <th colspan="4">Final</th>

    </tr>   
    <tr>
        <th>S.I No.</th>
        <th>Team Name</th>
        <th>Score</th>
        <th>Team Name</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>3</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>4</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>5</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>

    </tr>
    <tr>
        <td>6</td>
        <td>Rpsu Wolves</td>
        <td>2:1</td>
        <td>Rpsu Eagles</td>
    </tr>   
</table>

</div>
</body>
</html>