<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="00.jpeg" alt="">
            <p>Snooker</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Snooker is a game involving balls on a large table. The players use long sticks called cues to hit a white ball, and score points by knocking colored balls into the pockets at the sides of the table. The player collects most point will be the winner
                <br><br> <b>Member:</b> Single<br>
                <b>Win:</b> Point</p>
            
        </div>
        
    </div>
</body>
</html>