
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="77.jpg" alt="">
            <p>Swim</p>
        </div>
        <div class="right">
            <p> <b>Description:</b>  Swimming is an individual or team racing sport that requires the use of one's entire body to move through water. The sport takes place in pools or open water. Competitive swimming is one of the most popular with varied distance events in butterfly, backstroke, breaststroke, freestyle, and individual medley. The first player reaches the destination first is the winner.
                <br><br> <b>Member:</b> Single<br>
                <b>Win:</b> Time</p>
            </p>
        </div>
        
    </div>
</body>
</html>
