<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="10.png" alt="">
            <p>Table Tennis</p>
        </div>
        <div class="right">
            <p>  <b>Description: </b> Table tennis, also known as ping-pong and whiff-whaff, is a sport in which two or four players hit a lightweight ball, also known as the ping-pong ball, back and forth across a table using small solid rackets. The game takes place on a hard table divided by a net. The team or the player score most will consider as the winner.
                <br><br> <b>Member:</b> Team/Single<br>
                <b>Win:</b> Score</p>
        </div>
        
    </div>
</body>
</html>