<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="12.jpg" alt="">
            <p>Volley ball</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> volleyball, Game played by two teams of six players each, in which an inflated ball is volleyed over a high net. Each team tries to make the ball touch the court within the opposing side's playing areas before it can be returned. A team is allowed to touch the ball three times before returning it. If the ball touches the ground from one team other get a point. The team collect most point will be the winner
                <br><br> <b>Member:</b> Team<br>
                <b>Win:</b> Score</p>
            
        </div>
        
    </div>
</body>
</html>