<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="55.jpeg" alt="">
            <p>Weight Lifting</p>
        </div>
        <div class="right">
            <p> <b>Description:</b> Weightlifting is an athletic discipline which requires lifting of heavy weights in a progressive manner. Player Lift the heavy weight will consider as winner.
                <br><br> <b>Member:</b> Single<br>
                <b>Win:</b> Point</p>
            
        </div>
        
    </div>
</body>
</html>