@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


.img{
    height: 89vh;
    width: 172vh;
} 
.navbar{
    background-color: #67958B;
    
}

.nav-link{
    padding: 18px 35px;
    margin: -10px 45px;
    color: rgb(36, 35, 35) !important;
    font-weight: 600;
   
}
.nav-link:hover{
    color: rgb(221, 230, 230) !important;
}




