body{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    border-bottom: 2px solid black;
    margin-left: 60px;
    margin-right: 60px;
}
a{
    color: black;
    text-decoration: none;
}
.container_1{
    background-color: rgb(147, 223, 145);
    width: 500px;
    height: 150px;
    padding: 70px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
}
.lbl_3{
    background-color: white;
    color: blcak;
    border: 3px solid #73AD21;
    border-radius: 5px;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.lbl_4{
    background-color: white;
    color: blcak;
    border: 3px solid #73AD21;
    border-radius: 5px;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 38px;
    padding-right: 38px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.lbl_5{
    background-color: white;
    color: blcak;
    border: 3px solid #73AD21;
    border-radius: 5px;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: 3px solid #73AD21;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;

}
#back_btn{
    background-color: white;
    color: blcak;
    border: 3px solid #73AD21;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
#update_btn{
    background-color: white;
    color: blcak;
    border: 3px solid #73AD21;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}