*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
table{
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
    margin-top: 40px;
    margin-left: 50px;
}
.div1{
    display:flex;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
  }
.div2{
    display:flex;
    justify-content:center;
  }


table,td,th{
    padding:10px;  
    border:1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
  }
td{
      font-size: 12px;
  }
#mainTable1 th{
  background-color: #67958B;
  color: white;
  }
#mainTable2 th{
    background-color: #67958B ;
    color: white;
}
#mainTable3 th{
    background-color: #67958B;
    color: white;
}
tr:nth-child(even){
  background-color: #ededed;
  }
tr:nth-child(even):hover{
  background-color: lightgray;
  color: black;
  transform: scale(1.5);
  transition: transform 300ms ease-in;
  }
tr:nth-child(odd){
      background-color: lightgray;
  }
tr:nth-child(odd):hover{
      background-color: gray;
      color: white;
      transform: scale(1.5);
      transition: transform 300ms ease-in;
  }